@import '../../../assets/styles/colors';


.navList {
  display: flex;
  background-color: $nav-bg;
  height: 44px;
  border: none;
}

.navItem {
  flex: auto;
  display: flex;
  border: 0 none !important;
  top: 0 !important;
  margin-top: 0 !important;
  padding: 0;
}
