@charset "UTF-8";

// tips: css3变量不能引入svg格式图片

@import "../../../assets/styles/colors";


$logo: "images/logo.png";

.logo {
  width: 20em;
  height: 4em;
  overflow: hidden;
  display: inline-block;

  &-link {
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 4em;
    filter: drop-shadow(2px 2px 1px $logo--shadow);
    background: url($logo) no-repeat center {size: 100%;};
  }
}
